
body {
    background-color: #f0e4d5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}



.wrapper {
    margin: 1rem auto; 
    max-width: 1000px; 
    background-color: #fff2e2;
    border: 1px solid silver; 
}



header {
    background-color: darkolivegreen;
    padding-top: 1rem; 
    text-align: center;
}


header h1 {
    background-color: darkolivegreen;
    display: flex; 
    justify-content: space-evenly;
    align-items: center; 
    color: white; 
    font-size: 175%;
    margin-bottom: 1rem; 
}

nav {
    text-transform: uppercase; 
    background-color: tan; 
    margin: 2%;
    padding: 0.25rem; 
}

nav ul {
    justify-content: space-around;
    display: flex; 
    flex-wrap: wrap; 
    padding: 0.5%; 
    margin: 0; 
}

nav a {
    text-decoration: none;
    color: darkolivegreen;
    font-family: 'Times New Roman', Times, serif;
    padding: 1rem; 
}

nav li {
    list-style-type: none;
    padding: 1rem; 
}

nav a:hover {
    background-color: white; 
    border-radius: 20%; 
    outline: none; 
}

main {
    line-height: 1.5; 
    margin: 1rem 2rem; 
    color: #473a29; 
    font-size: 125%; 
}


.home {
    text-align: left;
    background-color: white;
    color: tan; 
    margin: 2%;
    font-size: 110%;  
    align-items: center; 
    display: flex; 
    justify-content: center;
    flex-direction: column;
}

.contact {
    background-color: white;
    color: tan; 
    font-size: 110%;
    align-items: center; 
    display: flex; 
    justify-content: center;
    flex-direction: column;
}

.prices {
   background-color: white;
   color: tan; 
    font-size: 110%;
    align-items: left; 
    display: flex; 
    justify-content: left;
    flex-direction: column;
}



.photo-gallery {
    background-color: white;
    color: tan; 
    font-size: 110%;
    align-items: center; 
    display: flex; 
    justify-content: center;
    flex-direction: column;
}


.booking {
    background-color: white;
    color: tan; 
    font-size: 110%;
    align-items: center; 
    display: flex; 
    justify-content: center;
    flex-direction: column;
}

.info {
    background-color: white;
    color: tan; 
    font-size: 110%;
    align-items: center; 
    display: flex; 
    justify-content: center;
    flex-direction: column;
}

.pic-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid silver;
}

footer {
    text-align: center; 
    color: white; 
    font-size: 110%;
    background-color: tan; 
    padding: 0.5rem;
    align-items: center; 
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap; 
}

.email {
    color: white;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
}



@media (max-width: 768px) {
    header h1 {
        font-size: 130%;
        flex-direction: column;
        text-align: center; 
    }

    nav ul {
        flex-direction: column; 
        align-items: center; 
    }

    nav li {
        padding: 0.5rem; 
    }

    .home {
        font-size: large;
        text-align: center; 
    }

    main {
        margin: 1rem; 
    }

    footer {
        flex-direction: column;
        text-align: center; 
    }


}
