.wrapper {
    margin: 1rem auto; 
    max-width: 960px; 
}

header h1 {
    background-color: darkolivegreen;
    display: flex; 
    justify-content: space-evenly;
    align-items: center; 
    color: white; 
    padding: 1%;
    font-size: 175%;
    margin: 2%;
    text-decoration: none; 
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav {
    text-transform: uppercase; 
    background-color: tan; 
    margin: 3%;
    padding: 0.5rem; 
}

nav ul {
    justify-content: space-around;
    display: flex; 
    flex-wrap: wrap; 
    padding: 0.5rem; 
}

nav a {
    text-decoration: none;
    color: darkolivegreen;
    font-family: 'Times New Roman', Times, serif;
}

nav li {
    list-style-type: none;
    padding: 1rem 1rem; 
}

nav a:hover {
    background-color: white; 
    border-radius: 20%; 
}

